@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/WorkSansRegular.ttf");
  font-family: "Work Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/RobotoRegular.ttf");
  font-family: "Roboto";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/WorkSansMedium.ttf");
  font-family: "Work Sans";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/WorkSansSemiBold.ttf");
  font-family: "Work Sans";
  font-weight: 600;
}
